body {
    background: #232323;
}
h1 {
    color: white;
    text-align: center;
    transition: .2s background;
    padding: .5rem;
}
#messageDisplay {
    color: white;
    text-align: center;
}
.square {
    opacity: 0;
    transition: .2s all;
    padding-bottom: 20%;
    float: left;
    margin: .8%;
    width: 48%;
    border-radius: 10px;
    cursor: pointer;
}
.center {
    margin: 0 auto;
}
#container {
    margin: 0 auto;
    max-width: 600px;
}
.guessedWrong {
    background: #232323;
    transition: all 0.5s;
}

@media screen and (min-width: 768px) {
    .square {
        padding-bottom: 15% !important;
    }
}
